<!DOCTYPE html>
<html>

<head>
  <title>DeviseSample</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if user_signed_in? %>
  <!-- ログイン時 -->
  <%= link_to "トップ", items_path %>
  <%= link_to '投稿画面へ', new_item_path %>
  <%= link_to 'マイページへ', users_path %>
  <%= link_to "アカウント編集", edit_user_registration_path %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } %>
  <% else %>
  <!-- 非ログイン時 -->
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "アカウント登録", new_user_registration_path %>
  <% end %>
  <%= yield %>
</body>

</html>